:root {
  /* Colors  */
  --dark_blue: #0a3871;
  --gray: #495057;
  --white: #fff;
  --ligh_blue: #f3f5fc;
  /* new Colors */
  --dark: #161819;
  --dark_gray: #242529;
  --btn_primary: #6deab4;
  --message_form: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark);
  font-family: 'Inter', sans-serif;
  padding: 2em 1em;
  /* height: 100vh; */
}
header {
  padding-bottom: 4em;
}
textarea {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 13em;
  border: none;
  overflow: auto;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
}
::placeholder {
  color: var(--btn_primary);
}
.logo_cisaa {
  transition: transform 250ms;
}
.logo_cisaa:hover {
  transform: translateY(-10px);
}
.message_form {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid red;
}
span {
  font-size: 0.75rem;
  color: var(--white);
  font-weight: 400;
}
.group_buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
button {
  cursor: pointer;
  border: 0;
  border-radius: 1.5rem;
  padding: 1.5em 6em;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 250ms;
}
button:hover {
  transform: translateY(-10px);
}
.encriptar_btn {
  background-color: var(--btn_primary);
  color: var(--dark);
}
.desencriptar_btn {
  border: 1px solid #411530;
  color: var(--dark_blue);
  background-color: var(--white);
}
.result_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark_gray);
  border-radius: 2rem;
  border: 1px solid var(--text_primary);
  padding: 1em 3em;
  margin-top: 3em;
  height: 40em;
  text-align: center;
}
.result_message textarea {
  height: 20em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.result_message h2 {
  padding-top: 0;
  margin-top: 0;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
}
.result_message p {
  margin: 0;
  color: var(--white);
  font-size: 1rem;
}
.result_message img {
  display: none;
}
.hidden_content {
  display: none;
}
.result_message_text {
  color: var(--white);
}
.result_message_button {
  background-color: transparent;
  border: 1px solid var(--btn_primary);
  color: var(--btn_primary);
}
.vissible {
  display: block;
}

footer {
  text-align: center;
  color: var(--white);
  margin-top: 2em;
  font-weight: bold;
}

footer p a {
  text-decoration: none;
  color: var(--btn_primary);
}

@media (min-width: 768px) {
  body {
    padding: 2em;
  }
  .group_buttons {
    flex-direction: row;
  }
  button {
    width: 100%;
  }
  textarea {
    height: 15em;
  }
}

@media (min-width: 1255px) {
  .main_wrap {
    display: flex;
    gap: 5em;
    margin-left: 8em;
  }
  form {
    width: 70%;
  }
  textarea {
    height: 20em;
  }
  .result_message {
    max-width: 400px;
    height: 944px;
    margin-top: -7em;
  }
  .result_message img {
    display: block;
  }
  .wrap {
    margin-top: 5em;
  }
  .b_padding {
    padding-bottom: 1em;
  }
  .result_message_button {
    margin-top: 12em;
  }
}
